---
layout: default
---

<div class="center">
    <img class="responsive-img" src="{{ "/resources/pictures/art.png" | prepend: site.baseurl }}" width="100%"
        height="100%">
</div>

{% assign pages_list = site.data.topics | sort:"publish" %}

<!-- Modal Structure -->
{% for page_modal in pages_list  %}
{% assign modal_post_list = site.posts | where: "lang", page_modal.url | sort:"date" %}
{% assign modal_post = modal_post_list.first %}
<div id="modal-{{ page_modal.url }}" class="modal">
    <div class="modal-content">
        <h4>{{ page_modal.name }}</h4>
        <hr>
        <p>{{page_modal.messages }}</p>
        <div class="row">
            <div class="col s12 m5">
                <ul class="collection with-header">
                    <li class="collection-header">Daftar Materi</li>
                    {% if modal_post_list.size >= 1 %}
                        {% for modal_post in modal_post_list %}
                        {% assign modal_post_title = modal_post.title | truncate: 40 |  prepend: '. ' | prepend: forloop.index %}
                        <li class="collection-item">
                            <a href="{{ modal_post.url | prepend: site.baseurl }}">{{ modal_post_title }}</a>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="collection-item">Materi: belum tersedia...</li>
                    {% endif %}
                </ul>
            </div>
            <div class="col s12 m7">
                <!-- youtube link -->
                <div class="row">
                    {% if modal_post and modal_post.youtube %}
                        {% include youtubePlayer.html id=modal_post.youtube %}
                    {% else %}
                        Embeded Video: <br>
                        <a href="#!" class="disabled btn btn-flat">belum tersedia...</a>
                    {% endif %}
                </div>
                <!-- article -->
                <div class="row">
                    {% if modal_post.content contains '<!--more-->' %} 
                        {{ modal_post.content | split:'<!--more-->' | first }}<br>
                        <span>
                            <a href="{{ modal_post.url | prepend: site.baseurl }}" class="right">
                                Lanjut membaca...
                            </a>
                        </span>
                    {% endif %}
                </div>

                <div class="row">
                    <!-- repository link -->
                    {% if page_modal.github %}
                        Downloads : <br>
                        <a href="{{ page_modal.github }}" target="_blank" class="btn black" rel="noopener noreferrer">
                            <i class="fa fa-github"></i> Github
                        </a>
                    {% else %}
                        Download: <br>
                        <a href="#!" class="disabled btn btn-flat">belum tersedia...</a>
                    {% endif %}
                </div>
                <br>
                <!-- tags -->
                <hr>
                {% for tag in page_modal.tags %}
                    <div class="chip"><i class="fa fa-tag"></i> {{tag}}</div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn black">
          <i class="material-icons">close</i>
      </a>
    </div>
</div>
{% endfor %}


<div class="row container">
    <br>
    {% assign pages_list_count = pages_list.size %}
    {% assign count_divided = pages_list_count | divided_by: 3 %}
    {% assign count_divided = count_divided | plus: 1 %}

    <h5 class="container center">
        <span class="new badge" data-badge-caption="topic">{{pages_list_count}}</span>
        Explore
        <br />
        <small>Browse by topic and view available courses</small>
    </h5>
    <br>

    {% for i in (1..count_divided) %}
    <div class="row">
        {% for topic in pages_list limit:3 offset: counter %}
        {% assign post_list = site.posts | where: "lang", topic.url | sort:"date" %}
        {% assign a_post =  post_list.first %}
        <div class="col s12 m4">
            <div class="card sticky-action large">
                <div class="card-image waves-effect waves-block waves-light {{topic.color}}">
                    {% if topic.coming_soon == false %}
                    <img class="activator responsive-img" src="{{ "/resources/images/" | prepend: site.baseurl}}{{topic.url}}.png">
                    {% else %}
                    <img class="responsive-img" src="{{ "/resources/images/" | prepend: site.baseurl}}{{topic.url}}.png">
                    {% endif %}
                    <span class="card-title black white-text">{{topic.name}}</span>
                </div>
                <div class="card-content">
                    <p>
                        {{topic.descriptions}}
                    </p>
                </div>
                <div class="card-action">
                    <span class="new badge black white-text" data-badge-caption="materi">{{ post_list | size }}</span>
                    
                    <!-- show first page of content -->
                    {% if topic.coming_soon == false and a_post %}
                        <a href="{{ a_post.url | prepend: site.baseurl }}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Start Learning">
                            <i class="material-icons green-text">play_arrow</i>
                        </a>
                    {% endif %}

                    <!-- show modal of content -->
                    <a class="modal-trigger tooltipped" href="#modal-{{ topic.url }}" data-position="bottom" data-delay="50" data-tooltip="Preview">
                        <i class="material-icons black-text">library_books</i>
                    </a>

                  </div>
                {% if topic.coming_soon == false %}
                <div class="card-reveal">
                    <!-- title of card reveal -->
                    <span class="card-title grey-text text-darken-4">
                        {{topic.name}}
                        <i class="material-icons right">close</i>
                    </span>
                    <!-- message card revel -->
                    <p>{{topic.messages}}</p>
                    
                    <!-- tags -->
                    <hr>
                    {% for tag in topic.tags %}
                        <div class="chip"><i class="fa fa-tag"></i> {{tag}}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% assign counter = i | times: 3 %}
    </div>
    {% endfor %}
</div>