---
layout: index
---

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h3 class="header center orange-text">{{site.title}}</h3>
        <div class="row center">
            <h5 class="header col s12 light">Hi, introduce my name is <strong>{{site.data.my-profile.name |
                upcase}}</strong>. I'm a {{site.subTitle}} work at {{site.data.my-profile.company}}</h5>
        </div>
    </div>
</div>

<div class="section container">
    <div class="row">
        <div class="col s12 m4">
            <div class="icon-block">
                <h1 class="center light-blue-text"><i class="material-icons">flash_on</i></h1>
                <h5 class="center">Speeds up development</h5>

                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate
                    our custom components. Additionally, we refined animations and transitions to provide a smoother
                    experience for developers.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h1 class="center light-blue-text"><i class="material-icons">group</i></h1>
                <h5 class="center">User Experience Focused</h5>

                <p class="light">By utilizing elements and principles of Material Design, we were able to create a
                    framework that incorporates components and animations that provide more feedback to users.
                    Additionally, a single underlying responsive system across all platforms allow for a more unified
                    user experience.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h1 class="center light-blue-text"><i class="material-icons">settings</i></h1>
                <h5 class="center">Easy to work with</h5>

                <p class="light">We have provided detailed documentation as well as specific code examples to help new
                    users get started. We are also always open to feedback and can answer any questions a user may have
                    about Materialize.</p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <h5>Featured Topics</h5>
    <br>
    <div class="row">
        {% assign pages_list = site.data.topics | sort:"publish" | reverse %}
        {% for topic in pages_list limit:3 %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light {{topic.color}}">
                    <img class="activator responsive-img" src="{{ "/resources/images/" | prepend: site.baseurl
                    }}{{topic.url}}.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        {{topic.name}} <i class="material-icons right">more_vert</i>
                    </span>
                    <p>
                        {{topic.descriptions}}
                    </p>
                    <hr>

                    {% for tag in topic.tags %}
                    <div class="chip">{{tag}}</div>
                    {% endfor %}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        {{topic.name}}<i class="material-icons right">close</i>
                    </span>
                    <p>{{topic.messages}}</p>
                    {% assign post_list = site.posts | where: "lang", topic.url %}
                    {% assign post_list_counted = post_list.size %}
                    {% if post_list_counted >= 1 %}
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <strong>Daftar Materi: </strong>
                        </li>
                        {% assign post_list_sorted = post_list | sort:"date" %}
                        {% for post in post_list_sorted %}
                        <li class="collection-item">
                            {{post.title}}
                            <a href="{{post.url}}" class="secondary-content">
                                <i class="material-icons">call_made</i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <strong>Daftar Materi: </strong>
                        </li>
                        <li class="collection-item blue lighten-5">
                            <span class="">Belum tersedia materi...</span>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>