<nav>
    <div class="nav-wrapper container">
        <a href="{{ "/" | prepend : site.baseurl }}" class="brand-logo">
        <i class="material-icons left">home</i>
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ "/menu/topics/" | prepend: site.baseurl }}">
                <i class="material-icons right">assignment</i>
                Topics
                </a>
            </li>           
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <a href="{{ "/menu/topics/" | prepend: site.baseurl }}">
                <i class="material-icons left">assignment</i>
                Topics
                </a>
            </li>           
        </ul>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.materialboxed').materialbox();
    });
</script>