{% assign languages = site.data.topics | where: 'coming_soon', 'false' | map: 'language' | join: ',' | split: ',' | uniq %}

<nav class="red darken-3 hide-on-med-and-down">
    <div class="nav-wrapper container">
        <a href="{{ "/" | prepend : site.baseurl }}" class="brand-logo">
            <i class="material-icons left">home</i> {{site.title}}
        </a>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $(".materialboxed").materialbox();
        $(".dropdown-button").dropdown();
        $('.scrollspy').scrollSpy();
        $(".button-collapse").sideNav({
            menuWidth: 400
        });
        $('.collapsible').collapsible();
        $('.modal').modal({
            dismissible: false,
        });
        $('.materialboxed').materialbox();
        $('#article-body img').addClass('materialboxed').addClass('responsive-img');
        $('.tooltipped').tooltip({delay: 50});
    });
</script>

<div class="fixed-action-btn click-to-toggle">
    <a href="#" data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light red button-collapse">
        <i class="large material-icons">menu</i>
    </a>
</div>

<ul id="slide-out" class="side-nav">
    <li>
        {% include side-nav/profile.html %}
    </li>
    <li>
        <a href="{{ "/" | prepend : site.baseurl }}">
            <i class="material-icons left">home</i> {{site.title}}
        </a>
    </li>

    {% include side-nav/categories.html %}
    
    <li>
        <div class="divider"></div>
    </li>
    {% include side-nav/socials.html %}    
    
    <li>
        <div class="divider"></div>
    </li>
    
    {% include side-nav/others.html %}
</ul>