{% assign languages = site.data.topics | where: 'coming_soon', 'false' | map: 'language' | join: ',' | split: ',' | uniq %}

<nav class="red darken-3 hide-on-med-and-down">
    <div class="nav-wrapper container">
        <a href="{{ "/" | prepend : site.baseurl }}" class="brand-logo">
            <i class="material-icons left">home</i> {{site.title}}
        </a>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $(".materialboxed").materialbox();
        $(".dropdown-button").dropdown();
        $(".button-collapse").sideNav({
            menuWidth: 400
        });
        $('.collapsible').collapsible();
    });
</script>

<div class="fixed-action-btn click-to-toggle">
    <a href="#" data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light red button-collapse">
        <i class="large material-icons">menu</i>
    </a>
</div>

<ul id="slide-out" class="side-nav">
    <li>
        {% include profile.html %}
    </li>
    <li>
        <a href="{{ "/" | prepend : site.baseurl }}">
            <i class="material-icons left">home</i> {{site.title}}
        </a>
    </li>
    <li><a class="subheader">Daftar Materi</a></li>
    <li class="no-padding">
        {% for lang in languages %}
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">
                    {{lang}}
                    <i class="material-icons">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    {% assign pages = site.data.topics | where: 'coming_soon', 'false' | where: 'language', lang | sort: "publish" %}
                    <ul>
                    {% for page in pages %}
                        <li>
                            {% assign posts = site.posts | where: 'lang', page.url | sort: 'date' %}
                            {% assign post = posts.first %}
                            {% if post %}
                                <a href="{{ post.url | prepend: site.baseurl }}">
                                    <i class="material-icons">pageview</i>
                                    <span class="new badge" data-badge-caption="materi">{{ posts | size }}</span>
                                    {{ page.name }}
                                </a>
                            {% else %}
                                <a href="#!">
                                    <i class="material-icons">pageview</i>
                                    <span class="new badge" data-badge-caption="materi"> {{ posts | size }}</span> {{ page.name }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
        {% endfor %}
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Social Media</a></li>
    {% for media in site.data.my-profile.sosials %}
    <li>
        <a href="{{ media.url}}" target="_blank"><i class="{{ media.icon }}"></i> {{media.name}}</a>
    </li>
    {% endfor %}
    
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Lainnya...</a></li>
    <li>
        <a href="{{ site.url }}" target="_blank">
            <i class="material-icons left">dashboard</i> {{ site.url }}
        </a>
    </li>
</ul>