<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ "/assets/materialize-css/css/materialize.min.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" type="text/css"  href="{{ "/assets/devicons/css/devicons.min.css" | prepend: site.baseurl }}" />

<script src="{{ "/assets/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/materialize-css/js/materialize.min.js" | prepend: site.baseurl }} "></script>