{% assign post_list = site.posts | where: "lang", {{ include.url }} %}
{% assign post_list_counted = post_list.size %}
{% if post_list_counted >= 1 %}
<ul class="collection with-header">
    <li class="collection-header">
        <strong>Daftar Materi: </strong>
        <span class="new badge blue" data-badge-caption="materi">{{post_list_counted}}</span>
    </li>
    {% assign post_list_sorted = post_list | sort:"date" %}
    {% for post in post_list_sorted %}
    <li class="collection-item">
        <a href="{{post.url | prepend: site.baseurl }}">
            {{post.title}}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<ul class="collection with-header">
    <li class="collection-header">
        <strong>Daftar Materi: </strong>
    </li>
    <li class="collection-item blue lighten-5">
        <span class="">Belum tersedia materi...</span>
    </li>
</ul>
{% endif %}