---
layout: default
---

<div id="postBody" class="row container">
    <div class="col s12 m12 l4">
        <div class="row">
            <h2>
                <i class="material-icons">person</i>
                {{site.author}}
            </h2>
            <h2>
                <i class="material-icons">access_time</i>
                <time datetime="{{page.date | date_to_xmlschema}}" itemscope="datePublished">
                    {{page.date | date: "%-d %B %Y" }}
                </time>
            </h2>
            <div>                
                <ul id='follow-socials-collection' class='collection with-header'>
                    <li class="collection-header">
                        Follow Me:
                    </li>
                    {% for social in site.data.my-profile.sosials %}                    
                        <a class="collection-item" href="{{ social.url }}" target="_blank" rel="{{ social.name }}">
                            <i class="{{ social.icon }}"></i>
                            {{ social.name }}
                        </a>                    
                    {% endfor %}
                </ul>
            </div>
            <div>
                <ul id='donation-collection' class='collection with-header'>
                    <li class="collection-header">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
  Donasi via:</li>
                    {% for donasi in site.data.my-profile.donations %}                    
                        <a class="collection-item" href="{{ donasi.account }}" target="_blank" rel="{{ donasi.name }}">
                            {{ donasi.name }} a/n {{ donasi.owner }}
                        </a>                    
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% assign post_list = site.posts | sort:"date" | where: "lang", page.lang %}
        {% assign post_list_size = post_list.size %}
        {% if post_list_size >= 1 %}
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-item avatar">
                    <img src="{{ "/resources/images/" | prepend : site.baseurl }}{{page.lang}}.png" alt="" class="circle">
                    <span>Daftar materi
                        <span class="badge new blue" data-badge-caption="materi">{{post_list_size}}</span>
                    </span>
                    {% assign post_page = site.data.topics | where: "url", page.lang | first %}
                    <p class="title">
                        {{post_page.name | upcase}}
                    </p>
                </li>
                {% for post in post_list %}
                <li class="collection-item">
                    {% if post.url == page.url %}
                    <div>
                        {{post.title}}
                    </div>
                    {% else %}
                    <a href="{{post.url | prepend: site.baseurl }}">
                        {{post.title}}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row">
            {% assign post_list = site.posts | sort:"date" | reverse %}
            <ul class="collection with-header">
                <li class="collapsible-header">
                    Lastest Posts
                </li>
                {% for post in post_list limit:10 %}
                {% if post.lang %}
                <li class="collection-item avatar">
                    <img src="{{ "/resources/images/" | prepend : site.baseurl }}{{post.lang}}.png" alt="" class="circle">
                    <a href="{{post.url | prepend : site.baseurl }}">
                        <span class="badge">{{post.date | date: '%d %b %y'}}</span>
                        {{post.title}}
                    </a>
                </li>
                {% else %}
                <li class="collection-item">
                    <a href="{{post.url | prepend : site.baseurl }}">
                        <span class="badge">{{post.date | date: '%d %b %y'}}</span>
                        {{post.title}}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="fixed-action-btn horizontal click-to-toggle">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">share</i>
                </a>
                <ul>
                    <li>
                        <a class="btn-floating blue" href="https://twitter.com/intent/tweet?text={{ page.title }}&via={{ site.twitter_username }}&url={{ site.url }}{{ page.url }}">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating blue darken-1" target="_blank" href="https://www.facebook.com/dialog/share?app_id={{ site.fb_appid }}&display=popup&href={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating blue" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.title }}">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating red" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}&hl=en-US"
                            onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l8">
        <div>
            <div>
                {{content}}
            </div>
            {% if page.youtube %}
            <hr/>
            <div>
                <h3>Yuk simak juga videonya!!!</h3>
                {% include youtubePlayer.html id=page.youtube %}
            </div>
            {% endif %}
        </div>
        <hr />
        <div>
            {% if page.refs.size >= 1 %}
                <div>
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h2>Referensi</h2>
                        </li>
                        {% for ref in page.refs %}                       
                            <a class="collection-item" href="{{ref}}" target="_blank">{{ref}}</a>
                        {% endfor %}
                    </ul>                    
                </div>
            {% endif %}
        </div>
        <div>
            {% if page.comments %}
            <div id="disqus_thread"></div>
            <script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                
                var disqus_config = function () {
                    this.page.url = '{{ site.url }}{{site.baseurl}}{{page.url}}';
                    this.page.identifier = '{{site.baseurl}}{{ page.url }}';
                    console.debug(this.page);
                };
                
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://materi-bootcamp.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            {% endif %}
        </div>
    </div>
</div>