---
layout: default
title: "Library"
permalink: /menu/libs/
---
<link rel="stylesheet" type="text/css" href="{{ "/assets/layout.css" | prepend: site.baseurl }}" />
<div class="main-container">
    <section id="timeline" class="timeline-outer">
        <div class="container" id="content">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="timeline card">
                        {% for post in site.posts %}
                        <li class="event" data-date="{{ post.date | date: '%B %d, %Y'}}">
                            <div class="chip right">
                                <i class="material-icons">assignment_ind</i>
                                {{site.data.my-profile.name}}
                            </div>
                            <h3 class="post-title">
                                {{post.title}}
                            </h3>
                            {% for category in post.categories %}
                            <div class="chip">
                                {{category}}
                                <i class="material-icons">bookmark</i>
                            </div>
                            {% endfor %}
                            <div class="card-action right">
                                <a href="{{post.url | prepend: site.baseurl}}">Read more...</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>